streamlit==1.51.0
firebase-admin==7.1.0
pandas==2.3.3
requests==2.32.5
pydeck==0.9.1
numpy==2.3.5
Pillow==12.0.0
protobuf==6.33.1
python-dateutil==2.9.0.post0
grpcio==1.76.0
google-cloud-firestore==2.21.0
google-cloud-storage==3.6.0
google-api-core==2.28.1
google-auth==2.43.0
typing-extensions==4.15.0
altair==5.5.0
